# Ignore virtual environment folder
venv/

# Ignore SELECT file
SELECT

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore other possible unnecessary files
*.log
# Ignore database folder
instance/

